<footer
    class="
        w-full
        flex
        p-4
        justify-between
        bg-blue-700
        text-white
    "
>
<div>
    <ul
        class="
            grid grid-cols-3 gap-2 gap-x-10
        "
    >
        <li><a href="/">Liens utiles</a></li>
        <li><a href="/">Évènements</a></li>
        <li><a href="/">Faq</a></li>
        <li><a href="/">Remerciements</a></li>
        <li><a href="/">Archives du site</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</div>
<form>
    <label for="email">Recevoir la newsletter</label>
    <input type="email" name="email" placeholder="Votre email" id="email" />
    <button>Newsletter</button>
</form>

</footer>